{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<style>
    .main{
    border:2px solid blue;
    height:450px;
    background-image:url({% static 'images/aa2.jpg' %});
    background-size:100% 100%;
    animation: demo 20s infinite;
    }
    @keyframes demo{
    20%{background-image:url({% static 'images/aa4.jpg' %});}
    40%{background-image:url({% static 'images/aa4.jpg' %});}
    60%{background-image:url({% static 'images/aa5.jpg' %});}
    80%{background-image:url({% static 'images/aa6.jpg' %});}
    100%{background-image:url({% static 'images/aa7.jpg' %});}
    }
</style>

<div class="container-fluid main">

</div>

{% endblock %}

{% include 'footer.html' %}